@font-face {

    font-family: 'Principale';

    src: url("Fonts/Comfortaa-Light.ttf");
}

@font-face {
    
    font-family: "PrincipaleBold";

    src: url("Fonts/Comfortaa-Bold.ttf");
}

body {

    margin-top: 0px;

    margin-left: 0px;

    margin-right: 0px;
}

.navbar {

    background-color: #a7a7a7;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 10px;

    height: 7%;
}
  
.navbar-left {

    display: flex;

    align-items: center;

    padding-left: 5%;

}

.navbar-left a {

    font-family: 'Principale';

    color: black;

    margin-right: 20px;

    text-decoration: none;

    font-size: medium;
}

.navbar-left p {

    font-family: 'PrincipaleBold';

    color: black;

    margin-right: 99px;

    text-decoration: none;
}

.navbar-right {

    border: 1px solid black;

    border-radius: 10px;

    padding: 5px 10px;

}

.navbar-right {

    border: 1px solid black;

    border-radius: 10px;

    padding: 10px 15px;

    margin-right: 50px;

    font-size: medium;

}

.navbar-right:hover {

    border: 1px solid black;

    background-color: white;

    border-radius: 10px;

    padding: 10px 15px;

    color: black;

    
}

.navbar-right a {

    font-family: 'Principale';

    color: black;

    text-decoration: none;

    font-size: medium;
    
}

.navbar-right a:hover {

    font-family: 'Principale';

    background-color: white;

    font-size: medium;

    color: black;

    text-decoration: none;
    
}

.container {
            
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    margin: 90px;
}

.box {
    width: 70%;
    max-width: 500px;
    height: 150px;
    border: 1px black solid;
    border-radius: 30px;
    background-color: white;
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.box:hover {
    background-color: #a7a7a748;
    box-shadow: 0 0 30px black;
}

a {
    
    color:black;
    font-family: "Principale";
    text-decoration: none;
    font-size: 120%;
}

p:hover {

    text-shadow: 0 0 30px black;
}

.bottone:hover {

    text-shadow: 0 0 15px black;
}

.bottone {

    color:black;
    font-family: "Principale";
    text-decoration: none;
    font-size: 120%;
}

h1 {

    font-family: "PrincipaleBold";

    color: black;

    font-size: 300%;

    text-align: center;
}

h2 {

    font-family: "Principale";

    color: black;

    font-size: 150%;

    text-align: center;
}

h1:hover {

    text-shadow: 0 0 30px black;
}

h2:hover {

    text-shadow: 0 0 30px black;
}