@font-face {

    font-family: "PrincipaleBold";

    src: url("Comfortaa-Bold.ttf");
}

@font-face {

    font-family: "PrincipaleLight";
    
    src: url("Comfortaa-Light.ttf");
}

body {

    background-color: black;

    margin-left: 70px;

    margin-right: 70px;
}

input[type="text"] {

    background-color: black;

    border: 1px solid white;
    
    border-radius: 10px;

    color: white;

    font-family: "PrincipaleLight";

    width: 30%;

    height: 20%;

    min-width: 180px;

    max-width: 190px;

    min-height: 30px;
    
    max-height: 30px;

    text-align: center;
}

input[type="date"] {

    background-color: black;

    border: 1px solid white;

    max-width: 150px;

    border-radius: 10px;

    color: white;

    font-family: "PrincipaleLight";

    width: 30%;

    height: 20%;

    min-width: 180px;

    max-width: 190px;

    min-height: 30px;
    
    max-height: 30px;

    text-align: center;
}

input[type="checkbox"] {

    background-color: black;
}

input[type="date"]:hover {

    background-color: white;

    border: none;

    border-radius: 10px;

    color: black;

    font-family: "PrincipaleLight";

    width: 30%;

    height: 20%;

    min-width: 180px;

    max-width: 190px;

    min-height: 30px;
    
    max-height: 30px;

    text-align: center;
}


input[type="radio"] {

    background-color: black;

    border: 1px solid white;

    border-radius: 10px;

    color: white;

    font-family: "PrincipaleLight";

    text-align: center;
}

input[type="number"] {

    background-color: black;

    border: 1px solid white;

    border-radius: 10px;

    color: white;

    font-family: "PrincipaleLight";

    width: 30%;

    height: 20%;

    min-width: 180px;

    max-width: 190px;

    min-height: 30px;
    
    max-height: 30px;

    text-align: center;
}

input[type="number"]:hover {

    background-color: white;

    border: none;

    border-radius: 10px;

    color: black;

    font-family: "PrincipaleLight";

    width: 30%;

    height: 20%;

    min-width: 180px;

    max-width: 190px;

    min-height: 30px;
    
    max-height: 30px;

    text-align: center;
}

input[type="button"] {

    background-color: black;

    border: 1px solid white;

    color: white;

    border-radius: 15px;

    font-family: "PrincipaleLight";

    width: 10%;

    height: 5%;
    
    min-width: 90px;

    min-height: 40px;

    margin-top: 15px;

    font-size: medium;
}

input[type="button"]:hover {

    background-color: white;

    border: none;

    color: black;

    border-radius: 15px;

    font-family: "PrincipaleLight";

    font-size: medium;

    width: 10%;

    height: 5%;
    
    min-width: 90px;

    min-height: 40px;
}

p {

    color: white;

    font-size: large;

    line-height: 300%;

    font-family: "PrincipaleLight";

    font-weight: lighter;

    padding-left: 10px;
}

.divCasella {

    padding-top: 5%;
}

.divTesto {

    padding-top: 2%;
}

.divRisultati {

    float: left;

    width: calc(50% - 7px);

    margin-bottom: 70px;
}
.divMateria {

    padding-top: 5%;

    padding-bottom: 2%
}

.divForm {

    width: calc(50% - 7px);

    float: left;
    
    margin-bottom: 70px;
}

label {

    color: white;

    font-family: "PrincipaleLight";

    padding-right: 3%;
}

h1 {

    color: white;
    
    font-family: "PrincipaleBold";

    text-align: center;
    
    font-stretch: extra-expanded;

    font-size: 500%;
}

.output {

    margin-top: 7%;

    border: 1px solid white;

    border-radius: 10px;

    width: 75%;

    display: none;
}

h2 {

    color: white;

    font-family: "PrincipaleBold";
}

option {

    background-color: white;

    color: black;

    font-family: "PrincipaleLight";

    text-align: justify;


}

select {

    background-color: black;

    border: 1px solid white;

    border-radius: 10px;

    color: white;

    font-family: "PrincipaleLight";

    padding: 12px;
}

.titleDownDrop {

    padding-top: 5%;

    padding-bottom: 2%;
}