<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <title>E-commerce App Homepage</title>
</head>
<body>
  <div className="container">
    <h1 className="title">E-commerce App</h1>
    <p>Scopri il nostro fantastico negozio online e trova i migliori prodotti per le tue esigenze!</p>

    <a href="/products" className="button">Scopri i prodotti del nostro E-commerce</a>
  </div>
  <footer>
    &copy; 2025 Ecommerce App. Tutti i diritti riservati.
  </footer>
</body>
</html>