@font-face {
    font-family: "PrincipaleLight";
    src: url("Comfortaa-Light.ttf");
}

@font-face {
    font-family: "PrincipaleBold";
    src: url("Comfortaa-Bold.ttf");
}

@font-face {
    font-family: "Principale";
    src: url("Comfortaa-Regular.ttf");
}

body {

    display: flex;

    align-items: center;

    justify-content: center;
}

.generale {

    width: 500px;
}

#esito {

    width: 100%;

    height: 50px;

    border-radius: 20px;

    padding-top: 20px;

    padding-bottom: 20px;

    text-align: center;

    display: none;

    font-family: "PrincipaleBold";

    color: black;

    margin-bottom: 30px;
}

.form {
    text-align: center;

    border: 2px solid black;

    color: black;

    width: 100%;

    height: 200px;

    border-radius: 30px;
}

.username {

    font-family: "PrincipaleLight";

    margin-bottom: 5%;
}

.passrd {

    font-family: "PrincipaleLight";
}

input[type="text"], input[type="password"] {

    width: 40%;

    height: 20%;
    
    min-width: 120px;

    min-height: 30px;

    max-height: 30px;

    max-width: 150px;

    border-radius: 20px;

    border: 2px solid black;

    background-color: white;

    color: black;

    text-align: center;

    font-family: "PrincipaleLight";

    margin-top: 3%;
}

input[type="button"] {

    width: 20%;

    height: 30%;
    
    min-width: 70px;

    min-height: 50px;

    max-height: 60px;

    max-width: 180px;

    border-radius: 20px; 

    background-color: white;

    color: black;

    text-align: center;

    font-family: "PrincipaleBold";

    margin-top: 7%;

    margin-left: 7%;

    margin-right: 7%;
}

input[type="button"]:hover {

    width: 20%;

    height: 30%;
    
    min-width: 70px;

    min-height: 50px;

    max-height: 60px;

    max-width: 180px;

    border-radius: 20px; 

    background-color: black;

    color: white;

    text-align: center;

    font-family: "Principale";

    margin-top: 7%;
    
    margin-left: 7%;

    margin-right: 7%;
}

button {

    border: 2px solid lightgray;

    width: 20%;

    height: 30%;
    
    min-width: 70px;

    min-height: 50px;

    max-height: 60px;

    max-width: 180px;

    border-radius: 20px; 

    background-color: white;

    color: black;

    text-align: center;

    font-family: "PrincipaleLight";

}

button:hover {

    width: 20%;

    height: 30%;
    
    min-width: 70px;

    min-height: 50px;

    max-height: 60px;

    max-width: 180px;

    border-radius: 20px; 

    background-color: lightgray;

    color: black;

    text-align: center;

    font-family: "PrincipaleBold";
}
.titolo {

    font-family: "PrincipaleBold";

    font-size: xx-large;
}

.testoElenco {

    font-family: "PrincipaleLight";

    font-size: medium;
}

td {

    font-family: "PrincipaleLight";

    font-size: small;

    border: 2px solid lightgray;

    text-align: center;

    border-radius: 5px;

    padding: 10px;

    margin-bottom: 20px;
}

th {

    font-family: "Principale";

    font-size: small;

    border: 2px solid lightgray;

    text-align: center;

    border-radius: 5px;

    padding: 10px;

    margin-bottom: 20px;
}

.immagineProfilo {

    width: 50px;

    height: 50px;

    border-radius: 5px;

    border: 2px solid lightgray;
}

.immagineProfilo:hover {

    box-shadow: 2px 2px 2px 2px lightgray;
}

.immagine {

    width: 50px;

    height: 50px;

    border-radius: 5px;
}

.immagine:hover {

    box-shadow: 2px 2px 2px 2px lightgray;
}