<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <title>E-commerce App</title>
</head>
<body>
  <div className="container">
    <h1>Lista dei prodotti</h1>

    <ul>
    <% products.forEach((product) => { %>
      <li>
        <%= product.nome %> - <%= product.prezzo %>€
        <a href="/products/edit/<%= product._id %>">Modifica</a>

        <form action="products/<%= product._id %>?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Elimina</button>
        </form>
      </li>
    <% }) %>
  </ul>

    <a href="/products/new" className="button">Aggiungi un nuovo prodotto</a>
    <a href="/" className="button">Torna alla Homepage</a>
  </div>

  <footer>
    &copy; 2025 Ecommerce App. Tutti i diritti riservati.
  </footer>
</body>
</html>