<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css" />
  <title>E-commerce App</title>
</head>
<body>
  <div className="container">
    <h1>Aggiungi un nuovo prodotto</h1>

    <form action="/products/new" method="POST">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>

      <label for="prezzo">Prezzo:</label>
      <input type="number" id="prezzo" name="prezzo" required>

      <label for="descrizione">Descrizione:</label>
      <textarea id="descrizione" name="descrizione" required></textarea>

      <button type="submit">Crea prodotto</button>
    </form>

    <a href="/products" className="button">Lista di tutti i prodotti</a>
    <a href="/" className="button">Torna alla Homepage</a>
  </div>

  <footer>
    &copy; 2025 Ecommerce App. Tutti i diritti riservati.
  </footer>
</body>
</html>